
{% extends "base.html" %}
{% block title %}Pricing Plans {% endblock title %}
{% block content %}
{% load static %}
{% load humanize %}
<main id="main" >
<section class="bg-main" id="home">
            <div class="bg-overlay"></div>
</section>
    <!-- ======= Breadcrumbs ======= -->
     <section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <ol class="flex-grow-1">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>Pricing</li>
      </ol>
      <h2 class="order-lg-2 order-sm-1">Pricing</h2>
    </div>
  </div>
</section>
    <!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <!-- START PRICING -->
        <section class="section bg-light" id="pricing">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="header-title text-center mb-4">
                            <p class="text-uppercase text-muted mb-2">Offers</p>
                            <h3>Choose Your Best Plan</h3>
                            <div class="title-border mt-3"></div>
                            <p class="title-desc text-muted mt-3">Unlocking Digital Prowess for Unparalleled Success: Tailoring Comprehensive Solutions to Fit Every Budgetary Need.</p>
                        </div>
                    </div><!--end col-->
                </div>
                <!--end row-->

                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-box bg-white box-shadow text-center p-5 mt-5 rounded">
                            <p class="price-title mb-4 pb-3">6 mbps</p>
                            <h1 class="mb-0 price">ksh 1,799</h1>
                            <div class="pricing-features mt-4 pt-4">
                                <p>Basic Downloads</p>
                                <p>Basic internet usage </p>
                                <p>Standard-quality streaming</p>
                                {% comment %} <p class="text-decoration-line-through">HD & TV Shows</p> {% endcomment %}
                                {% comment %} <p class="text-decoration-line-through">Heavy Online Gaming</p> {% endcomment %}
                            </div>
                            <div class="mt-5">
                                <a href="tel:+254726114104" class="btn btn-primary w-100">Call Us</a>
                            </div>
                        </div><!--end pricing-box-->
                    </div>
                    <!--end col-->

                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-box bg-white box-shadow text-center p-5 mt-5 rounded">
                            <div class="pricing-label">
                                <h5 class="text-white fs-16">Boom!</h5>
                            </div>

                            <p class="price-title mb-4 pb-3">8 mbps</p>
                            <h1 class="mb-0 price">ksh 2,000</h1>
                            <div class="pricing-features mt-4 pt-4">
                                <p>Multiple users </p>
                                <p>HD Streaming</p>                              
                                <p>Active browsing</p>
                                <p>Online Meetings</p>
                                <p>Remote working</p>
                            </div>
                            <div class="mt-5">
                                <a href="tel:+254726114104" class="btn btn-primary w-100">Call Us</a>
                            </div>
                        </div>
                        <!--end pricing-box-->
                    </div>
                    <!--end col-->

                   
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-box bg-white box-shadow text-center p-5 mt-5 rounded">
                            <p class="price-title mb-4 pb-3">10 mbps</p>
                            <h1 class="mb-0 price">ksh 3,299</h1>
                            <div class="pricing-features mt-4 pt-4">
                                <p>Multiple users </p>
                                <p>4K Streaming</p>                              
                                <p>Active browsing</p>
                                <p>Online gaming</p>
                                <p>Remote working</p>
                            </div>
                            <div class="mt-5">
                                <a href="tel:+254726114104" class="btn btn-primary w-100">Call Us</a>
                            </div>
                        </div>
                        <!--end pricing-box-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- END PRICING -->
  </main><!-- End #main -->
  {% endblock  %}
