
{% extends "base.html" %}
{% block title %}Pricing Plans {% endblock title %}
{% block content %}
{% load static %}
{% load humanize %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
     <section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <ol class="flex-grow-1">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>Pricing</li>
      </ol>
      <h2 class="order-lg-2 order-sm-1">Pricing</h2>
    </div>
  </div>
</section>
    <!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section class="pricing-plan">
      <div class="container">
          <div class="row">
           
              {% for plan in pricings %}
              <div class="col-md-3 col-sm-6  pb-4 ">
               
           {% if plan.type == 'Ostrich' %}
           <div class="pricingTable summer">

            {% elif plan.type == 'Falcon' %}
           <div class="pricingTable beige">

            {% elif plan.type == 'Sparrow' %}
           <div class="pricingTable black">

            {% elif plan.type == 'Owl' %}
           <div class="pricingTable purple">

            {% elif plan.type == 'Tit' %}
           <div class="pricingTable green">

           {% else %}
           <div class="pricingTable orange">
           
           {% endif %}
                    <h3 class="title">{{plan.download_speed}}</h3>
                    <div class="price-value">Ksh {{plan.price |intcomma}}
                        <span class="month">/{{plan.period}}</span>
                    </div>
                    <ul class="pricing-content">
     
    
                        <li {% if not plan.download_speed %} class="disable text-decoration-line-through" {% endif %}> 
                          {% if plan.download_speed %}  {{plan.download_speed}} 
                          {% comment %} {% else %}<i class="bx bx-x"></i> <span>{{plan.download_speed}}</span> {% endcomment %}
                          {% endif %}
                      </li>
    
                      <li {% if not plan.sd_movie_music_streaming %} class="disable text-decoration-line-through" {% endif %}> 
                        {% if plan.sd_movie_music_streaming %}  {{plan.sd_movie_music_streaming}} 
                        {% else %}<span>SD Movie &amp; music streaming</span>
                        {% endif %}
                    </li>
                    <li {% if not plan.internet_surfing %} class="disable text-decoration-line-through" {% endif %}> 
                      {% if plan.internet_surfing %}  {{plan.internet_surfing}} 
                      {% else %}<span>Internet surfing, social media &amp; email</span>
                      {% endif %}
                  </li>
                  <li {% if not plan.unlimited_usage %} class="disable text-decoration-line-through" {% endif %}> 
                    {% if plan.unlimited_usage %}  {{plan.unlimited_usage}} 
                    {% else %}<span>Unlimited Usage</span>
                    {% endif %}
                </li>
                <li {% if not plan.hd_tv_shows %} class="disable text-decoration-line-through" {% endif %}> 
                  {% if plan.hd_tv_shows %}  {{plan.hd_tv_shows}} 
                  {% else %}<span>HD &amp; TV Shows</span>
                  {% endif %}
              </li>
              <li {% if not plan.light_video_downloads %} class="disable text-decoration-line-through" {% endif %}> 
                {% if plan.light_video_downloads %}  {{plan.light_video_downloads}} 
                {% else %}<span>Light Video downloads</span>
                {% endif %}
            </li>
            <li {% if not plan.heavy_video_downloads %} class="disable text-decoration-line-through" {% endif %}> 
              {% if plan.heavy_video_downloads %}  {{plan.heavy_video_downloads}} 
              {% else %}<span>Heavy Video downloads</span>
              {% endif %}
          </li>
          <li {% if not plan.multiple_devices %} class="disable text-decoration-line-through" {% endif %}> 
            {% if plan.multiple_devices %}  {{plan.multiple_devices}} 
            {% else %}<span>Multiple devices</span>
            {% endif %}
        </li>
        <li {% if not plan.online_gaming_live_streams %} class="disable text-decoration-line-through" {% endif %}> 
          {% if plan.online_gaming_live_streams %}  {{plan.online_gaming_live_streams}} 
          {% else %}<span>Online gaming &amp; live streams</span>
          {% endif %}
      </li>
      <li {% if not plan.cctv_devices_apability %} class="disable text-decoration-line-through" {% endif %}> 
        {% if plan.cctv_devices_apability %}  {{plan.cctv_devices_apability}} 
        {% else %}<span>CCTV devices Capability</span>
        {% endif %}
    </li>
                      <li {% if not plan.heavy_online_gaming_downloading %} class="disable text-decoration-line-through" {% endif %}> 
                        {% if plan.heavy_online_gaming_downloading %}  {{plan.heavy_online_gaming_downloading}} 
                        {% else %}<span>Heavy online gaming &amp; Downloading</span>
                        {% endif %}
                    </li>
                      
                           </ul>
                    <a href="tel:+254759588698" class="pricingTable-signup">Call Us</a>
                </div>
            </div>
              {% empty %}
              <p>No Plans Available! </p>
              {% endfor %}
              
              
          </div>
      </div>
    </div>
    </div>
    </section>
<!-- START PRICING -->
        <section class="section bg-light" id="pricing">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="header-title text-center mb-4">
                            <p class="text-uppercase text-muted mb-2">Offers</p>
                            <h3>Choose Your Best Plan</h3>
                            <div class="title-border mt-3"></div>
                            <p class="title-desc text-muted mt-3">We craft digital, graphic and dimensional thinking, to
                                create category leading brand experiences that have meaning and add a value.</p>
                        </div>
                    </div><!--end col-->
                </div>
                <!--end row-->

                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-box bg-white box-shadow text-center p-5 mt-5 rounded">
                            <p class="price-title mb-4 pb-3">Classic</p>
                            <h1 class="mb-0 price">$34.99</h1>
                            <div class="pricing-features mt-4 pt-4">
                                <p>Customizad Plans</p>
                                <p>Billing Report</p>
                                <p>Access to Asana</p>
                            </div>
                            <div class="mt-5">
                                <a href="#" class="btn btn-primary w-100">Purchase Now</a>
                            </div>
                        </div><!--end pricing-box-->
                    </div>
                    <!--end col-->

                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-box bg-white box-shadow text-center p-5 mt-5 rounded">
                            <div class="pricing-label">
                                <h5 class="text-white fs-16">Sale</h5>
                            </div>

                            <p class="price-title mb-4 pb-3">Popular</p>
                            <h1 class="mb-0 price">$49.99</h1>
                            <div class="pricing-features mt-4 pt-4">
                                <p>Customizad Plans</p>
                                <p>Billing Report</p>
                                <p>Access to Asana</p>
                                <p>Unlimited themes</p>
                            </div>
                            <div class="mt-5">
                                <a href="#" class="btn btn-primary w-100">Purchase Now</a>
                            </div>
                        </div>
                        <!--end pricing-box-->
                    </div>
                    <!--end col-->

                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-box bg-white box-shadow text-center p-5 mt-5 rounded">
                            <p class="price-title mb-4 pb-3">Ultimate</p>
                            <h1 class="mb-0 price">$89.99</h1>
                            <div class="pricing-features mt-4 pt-4">
                                <p>Customizad Plans</p>
                                <p>Billing Report</p>
                                <p>Access to Asana</p>
                            </div>
                            <div class="mt-5">
                                <a href="#" class="btn btn-primary w-100">Purchase Now</a>
                            </div>
                        </div>
                        <!--end pricing-box-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
        <!-- END PRICING -->
  </main><!-- End #main -->
  {% endblock  %}
