 {% load static %}
 
 
  
   <!-- START FOOTER -->
        <footer class="bg-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="mt-4">
                            <h6 class="text-white text-uppercase fs-16">Our Mission</h6>
                            <a href="index-1.html"><img src="{% static 'img/logo/ikomol logo.png' %}" alt="" height="18"></a>
                            <p class="text-white-50 mt-3 pt-2 mb-0 ">To build and maintain strong, long-term relationships with each client that enables us meet their current
              and future requirements.</p>
                            <div class="mt-4">
                                <ul class="list-inline footer-social">

                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="mdi mdi-facebook"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="mdi mdi-linkedin"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="mdi mdi-pinterest"></i>
                                        </a>
                                    </li>

                                    <li class="list-inline-item">
                                        <a href="#">
                                            <i class="mdi mdi-twitter"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-3 col-md-6">
                        <div class="mt-4 ps-0 ps-lg-5">
                            <h6 class="text-white text-uppercase fs-16">Our Services</h6>
                            <ul class="list-unstyled footer-link mt-3 mb-0">
                                <li><a>Consultancy</a></li>
                                <li><a>Home Internet</a></li>
                                <li><a>Corporate Internet</a></li>
                                <li><a>SLA Base Support</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-2 col-md-6">
                        <div class="mt-4">
                            <h6 class="text-white text-uppercase fs-16">Useful Links</h6>
                            <ul class="list-unstyled footer-link mt-3 mb-0">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'pricing' %}">Pricing</a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--end col-->

                    <div class="col-lg-4">
                        <div class="mt-4">
                            <h6 class="text-white text-uppercase fs-16">About iKomol Internet</h6>
                            <div class="mt-3 mb-0">
                                <div class="d-flex">
                                    {% comment %} <i class="mdi mdi-twitter text-white-50 float-start"></i> {% endcomment %}
                                    <div class="flex-grow-1">
                                        <p class="text-white-50 ps-3">iKomol Communication is a committed digital business enterprise based in Nairobi, Kenya. We offer
              ICT solutions to homes, SME and schools ranging from internet solutions, consultancy services as
              well contractual works for telecommunication companies.</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </footer>
        <!-- END FOOTER -->