{% load static %}
{% load admin_urls %}
 <!-- ======= Top Bar ======= -->
 {% comment %} <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">info@ikomolinternet.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span><a href="tel:+254726114104" class="pricingTable-signup">+254759588698</a></span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">        
        <a href="https://web.facebook.com/people/IKomol-Home-Internet/100063882498622/" class="facebook"><i class="bi bi-facebook"></i></a>       
        <a href="https://wa.me/+254759588698" class="instagram"><i class="bi bi-whatsapp"></i></a>
      </div>
    </div>
  </section> {% endcomment %}

  <!-- ======= Header ======= -->
  {% comment %} <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1> <img src="{% static 'img/logo/ikomol logo.png' %}" alt="Logo"> <a href="{% url 'home' %}">iKomol Internet</a></h1>
        
      </div>

      <nav id="navbar" class="navbar">
       {% with request.resolver_match.url_name as url_name %}
        <ul>
          <li><a class=" {% if url_name == 'home' %} active {% endif %}" href="{% url 'home' %}">Home</a></li>
          <li><a class=" {% if url_name == 'about' %} active {% endif %}" href="{% url 'about' %}">About Us</a></li>
          
        </ul>
        {% endwith %}
        <i class="bi bi-list mobile-nav-toggle"></i>
        
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header --> {% endcomment %}
  <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top sticky" id="navbar">
            <div class="container">
                <!-- LOGO -->
                <a class="navbar-brand logo text-uppercase" href="{% url 'home' %}">
                    <img src="{% static 'img/logo/ikomol logo.png' %}" class="logo-light" alt="logo-light" height="18">
                    <img src="{% static 'img/logo/ikomol logo.png' %}" class="logo-dark" alt="logo-dark" height="18">
                    iKomol Internet
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    {% comment %} <i class="mdi mdi-menu"></i> {% endcomment %}
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  {% with request.resolver_match.url_name as url_name %}
                    <ul class="navbar-nav ms-auto navbar-center">
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'home' %} active {% endif %}" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if url_name == 'services' %} active {% endif %}" href="{% url 'services' %}">Service</a>
                        </li>
                        
                        <li class="nav-item">
                            <a  class="nav-link {% if url_name == 'pricing' %} active {% endif %}" href="{% url 'pricing' %}">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link {% if url_name == 'blogs' %} active {% endif %}" href="{% url 'blogs' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link {% if url_name == 'careers' %} active {% endif %}" href="{% url 'careers' %}">Career</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link {% if url_name == 'contact' %} active {% endif %}" href="{% url 'contact' %}">Contact</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a  class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a  class="nav-link {% if url_name == 'account_logout' %} active {% endif %}" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a  class="nav-link {% if url_name == 'account_login' %} active {% endif %}" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endwith %}
                </div>
                <!--end navabar-collapse-->
            </div>
            <!--end container-->
        </nav>
        <!-- Navbar End -->

  